.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container {
    display: flex;
}

.row {
    display: flex;
}

.button-group {
    display: flex;
    flex-direction: column;
}

.column {
    background-color: lightgrey;
}

.clicked {
    background-color: purple;
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}

.selected {
    background-color: darkgrey;
}